.benefits {
  &__list {
    margin-top: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__icon {
    width: 50px;
    text-align: center;
    color: $color-primary;

    i {
      font-size: 40px;
      opacity: 0.6;
    }
  }

  &__content {
    padding-left: 15px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 20px;
  }

  &__desc {
  }

}
