.breadcrumbs {
  background: #f7f7f7;
  padding: 30px 0;

  &__list {
    @extend %reset-list;
    padding: 0;
  }

  &__item {
    display: inline-block;
    font-size: 16px;
  }

  &__link {
    color: #999;

    &:hover {
      color: $color-primary;
    }
  }

  &__sepearator {
    font-size: 16px;
    color: #999;
    padding: 0 2px 0 5px;
  }

}
