/dist/*
/.idea
/node_modules
/bower_components
/cache/*
/vendor/

*.zip
*.rar
*.log
*.map

.DS_Store

package-lock.json
.htaccess
robots.txt
.htpasswd

/wp-content/themes/classy/assets/mix-manifest.json
/wp-content/uploads/*
/wp-content/viewcache/*
/wp-config.php
/wp-content/themes/classy/dist/
!/wp-content/uploads/index.php
!/wp-content/viewcache/index.php
