.header {
  //padding: 50px;
  color: #777;

  .top-strip {
    background-color: #1f2731;
    text-align: center;
    color: #fff;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      padding: 10px;
      white-space: nowrap;

      i {
        font-size: 13px;
        margin-right: 8px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      color: #fff;
    }
  }

  .main {
    padding: 20px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      img {
        max-width: 250px;
      }
    }

    &__aside {
      display: flex;
    }

    &__call {

    }

    &__info {
      display: flex;

      .info-main {

        &__item {
          display: flex;
          margin-right: 55px;
        }

        &__icon {
          font-size: 46px;
          margin-right: 20px;
          color: #dbdbdb;
        }

        &__content {
          div {
            color: $color-primary;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.5px;
          }

          //div:last-child {
          //  font-size: 15px;
          //  line-height: 26px;
          //}
        }
      }
    }

    &__hamburger {
      display: none;
    }
  }
}

///////////////////////RESPONSIVE//////////////////////////
@media screen and (max-width: 1200px) {
  .header {
    .top-strip {
      &__item {
        &:first-child {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    .top-strip {
      &__item {
        font-size: 12px;
      }
    }

    .main {
      &__call {
        display: none;
      }

      &__info {
        display: none;
      }

      &__hamburger {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
