// VARIABLES
$debug: false !default;
$image-url-path: "./img/" !default;
$font-url-path: "./fonts/" !default;

$color-primary: #1c63b8;

// Hamburger
$hamburger-width: 24px !default;
$hamburger-height: 2px !default;
$hamburger-offset: 8px !default;
$hamburger-color: #494949 !default;
$hamburger-delay: .1s !default;
$hamburger-duration: .1s !default;
