.home {
  &__content {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  img {
    //max-width: 100px;
  }
}

.about-text {
}

.hero-slider {
  &__list {
  }

  &__item {
    min-height: 500px;
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
  }

  &__inner {
    max-width: 800px;
  }

  &__title {
    color: #fff;
    @include responsive-font-size(30px, 40px, 480px, 1200px);
    line-height: 1;
    margin-bottom: 20px;
  }

  &__text {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
